@import "_colors.scss";

.cart-wrapper {
  padding: 20px;

  .header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .items-div {
    display: flex;
    align-items: center; // Center align items vertically
    padding: 10px 0;

    .delete-icon {
      cursor: pointer;
      color: $burgundy;
      margin-right: 10px; // Space between icon and product name
    }

    p {
      margin: 0; // Remove default margin
      flex: 1; // Allow flex items to grow
    }

    .product-price,
    .product-quantity {
      text-align: right; // Align price and quantity to the right
    }
  }

  .total-products {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
  }
}
