@import "_colors.scss";

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.filter-sort-div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;

  @media (max-width: 768px) {
    flex-direction: row;
    gap: 5px;
    order: 2;
    margin-top: 10px;
    justify-content: space-between;
  }

  @media (max-width: 585px) {
    flex-direction: column;
    gap: 5px;
    order: 2;
    margin-top: 10px;
  }
}

.button-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @media (max-width: 768px) {
    justify-content: space-between;
    gap: 20px;
    order: 1;
  }
}

.cart-icon {
  cursor: pointer;
  font-size: 24px;

  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.login-link {
  color: $chocolate-cosmos;
  font-size: 15px;
}

.btn-filter {
  display: none;
}

@media (max-width: 585px) {
  .btn-filter {
    display: inline-flex;
    background-color: $madder;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    border: 0;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
    order: 2;
    width: fit-content;
  }

  .filter-sort-div.closed {
    display: none;
  }

  .filter-sort-div.open {
    display: flex;
  }
}
