.input-wrapper {
  label {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 15px;
  }
}

.range-input input {
  width: 50px;
  border-radius: 5px;
  height: 20px;
}

.search-input input {
  width: 600px;
  height: 30px;
  font-size: 15px;
  border-radius: 5px;
}
