@import "_colors";

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 100px;

  h2 {
    font-family: "Roboto", sans-serif;
  }
}

.login-form {
  max-width: 500px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  font-weight: 500;
}

.login-input {
  font-size: 15px;
  background: #ffffff;
  border-radius: 6px;
  padding: 10px 14px;
  font-family: "Roboto", sans-serif;
}

.btn-login {
  display: inline-block;
  background-color: $madder;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
}

.btn-logout {
  font-family: "Roboto", sans-serif;
  background-color: $madder;
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  border: 0;
  font-size: 13px;
  cursor: pointer;
}
