@import "_colors.scss";

.grid-product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  row-gap: 40px;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 786px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }
}

.div-filter-sort {
  display: flex;
  align-items: baseline;
  gap: 5px;
  justify-content: flex-start;
  margin-bottom: 20px;
  margin-top: 20px;
}

.product-details {
  img {
    width: 200px;
  }
}
